# Python
*__pycache__*
*.pytest_cache*

# VSCode
*.vscode

# Excel/CSV
*.csv
results/*
!results/.gitkeep

# virtual env
.venv/*
.venv

# ignore folder
custom/*

# logging information
*.log

*.DS_Store*
*.egg-info/*
*.pypirc
dist/*

*.png

*xxx*
*.omr